.text-fill {
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%); 
    background-clip: text;
    color: transparent;
  }
  
  .scroll-custom::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
  }
  
  /* Track */
  .scroll-custom::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 20px;

  }
   
  /* Handle */
  .scroll-custom::-webkit-scrollbar-thumb {

    border-radius: 20px;
    background: #888; 
  }
  
 